<div class="notification-container">
  <div 
    *ngFor="let notification of notifications" 
    class="notification"
    [class.notification-info]="notification.type === 'info'"
    [class.notification-success]="notification.type === 'success'"
    [class.notification-warning]="notification.type === 'warning'"
    [class.notification-transition]="notification.type === 'transition'"
  >
    <mat-icon class="notification-icon" [style.color]="getIconColor(notification.type)">
      {{ getIcon(notification.type) }}
    </mat-icon>
    <p class="notification-message">{{ notification.message }}</p>
    <button (click)="removeNotification(notification.id)" class="notification-close">
      <mat-icon style="font-size: 18px;">close</mat-icon>
    </button>
  </div>
</div>