<div class="lofi-player">
  <div class="player-header">
    <mat-icon class="music-icon">music_note</mat-icon>
    <h3>Lo-Fi Focus</h3>
  </div>
  
  <div class="player-controls">
    <button class="control-btn" (click)="togglePlay()">
      <mat-icon>{{ isPlaying() ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    
    <div class="track-info">
      <span class="track-name">{{ currentTrack().name }}</span>
    </div>
    
    <button class="control-btn" (click)="nextTrack()">
      <mat-icon>skip_next</mat-icon>
    </button>
  </div>
  
  <div class="volume-control">
    <mat-icon class="volume-icon">volume_up</mat-icon>
    <input 
      type="range" 
      min="0" 
      max="100" 
      [value]="volume()"
      (input)="setVolume($event)"
      class="volume-slider"
    />
  </div>
</div>
